Repository Jawamegamind/PeerCafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Adding test cases for supabase helper functions and middleware
  frontend/__tests__/utils/supabase-client.test.ts
  frontend/__tests__/utils/supabase-middleware.test.ts
  frontend/__tests__/utils/supabase-server.test.ts
Due: frontend

Added test cases for the login and register actions
  frontend/__tests__/actions/login-actions.test.ts
  frontend/__tests__/actions/register-actions.test.ts
Due: frontend

Adding some test cases for the admin restaurant pages
  frontend/__tests__/pages/admin-add-restaurant.test.tsx
  frontend/__tests__/pages/admin-restaurants.test.tsx
Due: frontend

Update test coverage requirement to 78%
  CONTRIBUTING.md
Due: none

Add live location tracking for delivery
  backend/routes/delivery_routes.py
  backend/routes/order_routes.py
  frontend/app/(main)/user/delivery/NavigationMap.tsx
  frontend/app/(main)/user/delivery/navigation/page.tsx
  frontend/app/(main)/user/delivery/page.tsx
Due: frontend, backend

Adding test cases for Cart context and dropdown
  frontend/__tests__/components/CartDropdown.text.tsx
  frontend/__tests__/contexts/CartContext.text.tsx
Due: frontend

Patch Navigation map to get geo cooordinates if absent
  backend/routes/delivery_routes.py
Due: backend

Add api for getting customer's own orders
  backend/routes/order_routes.py
Due: backend

Add test for order retrieval route for customer
  backend/tests/test_order_routes.py
Due: none

Modify the user dashboard to include recent orders section
  frontend/app/(main)/user/dashboard/page.tsx
Due: frontend

Patch so that user_id is always properly parsed for order api
  backend/routes/order_routes.py
Due: backend

Add order page to show current and past orders
  frontend/app/(main)/user/orders/page.tsx
Due: frontend

Add test for the orders page
  frontend/__tests__/pages/orders.page.test.tsx
Due: frontend

Add test for confirming user authentication by order page
  frontend/__tests__/pages/delivery.page.test.tsx
Due: frontend

Added functionality to edit restaurants with test cases
  frontend/__tests__/admin/edit-restaurant.test.tsx
  frontend/__tests__/components/CartDropdown.test.tsx
  frontend/__tests__/pages/admin-restaurants.test.tsx
  frontend/app/(main)/admin/restaurants/[restaurantId]/edit/page.tsx
  frontend/app/(main)/admin/restaurants/page.tsx
Due: frontend

added distance and duration metrics on order placement
  backend/database/__pycache__/supabase_db.cpython-310.pyc
  backend/main.py
  backend/models/__pycache__/login_model.cpython-310.pyc
  backend/models/__pycache__/user_model.cpython-310.pyc
  backend/routes/__pycache__/auth_routes.cpython-310.pyc
  backend/routes/order_routes.py
  frontend/app/(main)/user/checkout/page.tsx
  frontend/app/(main)/user/dashboard/page.tsx
Due: frontend, backend

Add delivery_code and delivery_code_used to order table
  backend/models/order_model.py
Due: backend

Patch to handle missing coordinates for user and restaurant
  backend/routes/delivery_routes.py
Due: backend

Generate delivery code, verify deliveryand normalize order responses
  backend/routes/order_routes.py
Due: backend

Added logs for navigation map
  frontend/app/(main)/user/delivery/NavigationMap.tsx
Due: frontend

Add delivery code to the orders page
  frontend/app/(main)/user/orders/page.tsx
Due: frontend

delegate delivery verification to NavigationMap & refresh order state
  frontend/app/(main)/user/delivery/navigation/page.tsx
  frontend/app/(main)/user/orders/[orderId]/page.tsx
Due: frontend

modified ready nearby orders section to work dynamically
  backend/routes/delivery_routes.py
  frontend/app/(main)/user/delivery/page.tsx
Due: frontend, backend

Add parent callback and remove duplicate navigation caller
  frontend/app/(main)/user/delivery/NavigationMap.tsx
  frontend/app/(main)/user/delivery/navigation/page.tsx
Due: frontend

Deleted some repeated test files
  frontend/__tests__/pages/checkout.test.tsx
  frontend/__tests__/pages/restaurant-detail.test.tsx
Due: frontend

Adding a rubrics file in the docs to fill it in
  docs/rubrics.md
Due: none

Filling the software self sustainability rubric
  docs/rubrics.md
Due: none

test: add admin restaurant page test suite
  frontend/__tests__/admin/admin-restaurant-page.test.tsx
Due: frontend

test: add and format admin restaurant tests; update other frontend tests
  frontend/__tests__/admin/admin-restaurant-page.test.tsx
  frontend/__tests__/admin/edit-restaurant.test.tsx
  frontend/__tests__/integration/homepage.test.tsx
  frontend/__tests__/page.test.tsx
  frontend/__tests__/pages/admin-restaurants.test.tsx
  frontend/__tests__/pages/login.test.tsx
  frontend/__tests__/pages/order-page.more.test.tsx
  frontend/__tests__/pages/order-page.test.tsx
  frontend/__tests__/pages/order-page.unit.test.tsx
  frontend/__tests__/pages/register.test.tsx
Due: frontend

format test files with Prettier
  frontend/__tests__/admin/edit-restaurant.test.tsx
  frontend/__tests__/pages/order-page.more.test.tsx
  frontend/__tests__/pages/order-page.test.tsx
  frontend/__tests__/pages/order-page.unit.test.tsx
Due: frontend

update styling with Prettier
  frontend/__tests__/pages/order-page.more.test.tsx
Due: frontend

style(tests): run Prettier on all frontend tests
  frontend/__tests__/pages/order-page.test.tsx
Due: frontend

Add gecode.py utility for address geocoding
  backend/utils/__init__.py
  backend/utils/geocode.py
Due: backend

Frontend Patch
  backend/database/__pycache__/supabase_db.cpython-310.pyc
  backend/models/__pycache__/login_model.cpython-310.pyc
  backend/models/__pycache__/user_model.cpython-310.pyc
  backend/routes/__pycache__/auth_routes.cpython-310.pyc
  frontend/.vscode/tasks.json
  frontend/app/(authentication)/login/actions.ts
  frontend/app/(main)/user/dashboard/page.tsx
  frontend/app/(main)/user/restaurants/actions.ts
  frontend/package-lock.json
Due: frontend, backend

Add missing functionst to order_routes
  backend/routes/order_routes.py
Due: backend

Full backend patch
  backend/routes/order_routes.py
Due: backend

Bash version of the script
  scripts/run_all_tests.sh
Due: none

Give script access to backend
  backend/.coverage
  backend/main.py
  backend/models/delivery_model.py
  backend/models/order_model.py
  backend/routes/delivery_routes.py
  backend/routes/order_routes.py
  backend/tests/test_delivery_routes.py
  backend/tests/test_models.py
  backend/tests/test_order_routes.py
  backend/utils/geocode.py
  scripts/run_all_tests.sh
Due: backend

Fix Linting Issues
  backend/database/__pycache__/supabase_db.cpython-310.pyc
  backend/models/__pycache__/login_model.cpython-310.pyc
  backend/models/__pycache__/user_model.cpython-310.pyc
  backend/models/order_model.py
  backend/routes/__pycache__/auth_routes.cpython-310.pyc
  backend/routes/order_routes.py
  backend/tests/test_delivery_routes.py
  backend/tests/test_models.py
  backend/tests/test_order_routes.py
Due: backend

Reduce function complexity in order_routes
  backend/routes/order_routes.py
Due: backend

Path conditions:
  frontend: any of: frontend/, but not: **/__pycache__, **/__tests__, **/__mocks__, **/node_modules, **/coverage, **/test-output, frontend/.next, frontend/public, backend/tests, *.config.js, *.config.ts
  backend: any of: backend/, but not: **/__pycache__, **/__tests__, **/__mocks__, **/node_modules, **/coverage, **/test-output, frontend/.next, frontend/public, backend/tests, *.config.js, *.config.ts
