Repository Jawamegamind/PeerCafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

added test cases for delivery page
  backend/models/__pycache__/login_model.cpython-310.pyc
  backend/models/__pycache__/user_model.cpython-310.pyc
  backend/routes/__pycache__/auth_routes.cpython-310.pyc
Due: backend

rebasing main branch
  backend/database/__pycache__/__init__.cpython-310.pyc
  backend/database/__pycache__/supabase_db.cpython-310.pyc
  backend/models/__pycache__/login_model.cpython-310.pyc
  backend/models/__pycache__/user_model.cpython-310.pyc
  backend/routes/__pycache__/auth_routes.cpython-310.pyc
  frontend/app/(authentication)/login/actions.ts
  frontend/app/(main)/user/dashboard/page.tsx
  frontend/app/(main)/user/delivery/page.tsx
  frontend/app/(main)/user/restaurants/actions.ts
Due: frontend, backend

added test cases for delivery page
  frontend/__tests__/pages/delivery.page.test.tsx
Due: frontend

added map to delivery page
  frontend/__tests__/pages/delivery.page.test.tsx
  frontend/app/(main)/user/delivery/page.tsx
  frontend/app/globals.css
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Add geo-location to layout
  frontend/app/layout.tsx
Due: frontend

Adding linter, style checker and code quality checks for frontend
  .github/workflows/code-quality.yml
  frontend/.prettierignore
  frontend/.prettierrc.json
  frontend/eslint.config.js
  frontend/eslintrc.json
  frontend/jest.config.cjs
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Updating eslint to work with Next JS properly
  frontend/eslint.config.js
  frontend/next.config.ts
Due: frontend

Updating workflow to keep running even with errors and added badges for frontend in Readme
  .github/workflows/code-quality.yml
  README.md
Due: none

Updating workflow to terminate on failed prettier checks
  .github/workflows/code-quality.yml
Due: none

Fixing ESLint issues for frontend test suite
  frontend/__tests__/actions/restaurants.test.ts
  frontend/__tests__/components/navbar.test.tsx
  frontend/__tests__/edge-cases/error-handling.test.tsx
  frontend/__tests__/integration/homepage.test.tsx
  frontend/__tests__/pages/admin-dashboard.test.tsx
  frontend/__tests__/pages/login.test.tsx
  frontend/__tests__/pages/register.test.tsx
  frontend/__tests__/pages/restaurant-detail.test.tsx
Due: frontend

Updating authentication logic and test cases to fix ESLint errors
  frontend/__tests__/pages/register.test.tsx
  frontend/app/(authentication)/login/actions.ts
  frontend/app/(authentication)/login/page.tsx
  frontend/app/(authentication)/register/actions.ts
  frontend/app/(authentication)/register/page.tsx
Due: frontend

Restaurant admin page ESLint errors fixed. Prettier error fixed as well
  frontend/app/(authentication)/register/actions.ts
  frontend/app/(main)/admin/restaurants/[restaurantId]/page.tsx
Due: frontend

Admin restaurant ESLint errors fixed
  frontend/app/(main)/admin/restaurants/add/page.tsx
  frontend/app/(main)/admin/restaurants/page.tsx
Due: frontend

Added some new test cases fr restaurant page
  frontend/__tests__/pages/restaurant-page.test.tsx
Due: frontend

made api to fetch ready orders
  backend/main.py
  backend/models/delivery_model.py
  backend/routes/delivery_routes.py
  frontend/app/(main)/user/delivery/page.tsx
Due: frontend, backend

Fixed ESLint issues and added conditional cart rendering for users
  frontend/__tests__/components/navbar.test.tsx
  frontend/app/(main)/user/checkout/page.tsx
  frontend/app/(main)/user/orders/[orderId]/page.tsx
  frontend/app/(main)/user/restaurants/[restaurantId]/page.tsx
  frontend/app/(main)/user/restaurants/actions.ts
  frontend/app/(main)/user/restaurants/page.tsx
  frontend/app/_components/CartDropdown.tsx
  frontend/app/_components/navbar.tsx
  frontend/app/_contexts/CartContext.tsx
  frontend/utils/supabase/middleware.ts
Due: frontend

ESLint workflow will now not continue on errors
  .github/workflows/code-quality.yml
Due: none

added test cases for delivery_routes and delivery_model
  backend/routes/delivery_routes.py
  backend/tests/test_delivery_routes.py
  backend/tests/test_models.py
Due: backend

Backend style, quality and type checking functionality added
  .github/workflows/code-quality.yml
  backend/.flake8
  backend/.gitignore
  backend/.pylintrc
  backend/Makefile
  backend/check_code.sh
  backend/database/supabase_db.py
  backend/format_code.sh
  backend/main.py
  backend/models/__init__.py
  backend/models/login_model.py
  backend/models/menu_item_model.py
  backend/models/order_model.py
  backend/models/restaurant_model.py
  backend/models/user_model.py
  backend/pyproject.toml
  backend/requirements.yaml
  backend/routes/__init__.py
  backend/routes/auth_routes.py
  backend/routes/menu_routes.py
  backend/routes/order_routes.py
  backend/routes/restaurant_routes.py
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/test_auth_routes.py
  backend/tests/test_basic.py
  backend/tests/test_database.py
  backend/tests/test_main.py
  backend/tests/test_menu_routes.py
  backend/tests/test_models.py
  backend/tests/test_order_routes.py
  backend/tests/test_restaurant_routes.py
Due: backend

Updating bandit workflow
  .github/workflows/code-quality.yml
Due: none

Updating README with badges and code quality with supabase env variables
  .github/workflows/code-quality.yml
  README.md
Due: none

Updating secrets to correct variable names
  .github/workflows/code-quality.yml
Due: none

Fixing variable names in code quality workflow
  .github/workflows/code-quality.yml
Due: none

integrated backend api to fetch nearby orders to frontend
  backend/routes/delivery_routes.py
  backend/tests/test_delivery_routes.py
  frontend/app/(main)/user/delivery/actions.ts
  frontend/app/(main)/user/delivery/page.tsx
Due: frontend, backend

Added some restaurant documentation md's
  docs/order-api-documentation.md
  docs/restaurant-details-documentation.md
  docs/restaurant-page-documentation.md
Due: none

converted table doc into markdown and added new tables
  docs/design/PeerCafe Table Description Sheet.pdf
  docs/design/table-description.md
Due: none

Added app walkthrough for landing, sign-in, and sign-up pages
  docs/app-walkthrough.md
Due: none

Admin Dashboard feature basic flow working. Added sanitization to the api for order retrieval to fix subtotal calculation error. Added metrics to report sanitization triggers.
  backend/routes/auth_routes.py
  backend/routes/menu_routes.py
  backend/routes/order_routes.py
  backend/routes/restaurant_routes.py
  backend/scripts/get_order.py
  frontend/app/(main)/admin/orders/page.tsx
  package-lock.json
  package.json
Due: frontend, backend

modified delivery page test cases and added active order card
  frontend/__tests__/pages/delivery.page.test.tsx
  frontend/app/(main)/user/delivery/page.tsx
Due: frontend

tests: add admin-dashboard tests (frontend & backend)
  backend/tests/test_order_sanitization.py
  frontend/__tests__/admin-orders.actions.test.tsx
  frontend/__tests__/admin-orders.empty.test.tsx
  frontend/__tests__/admin-orders.test.tsx
Due: frontend

feat(admin): add Order Management quick-action to Admin Dashboard
  frontend/app/(main)/admin/dashboard/page.tsx
Due: frontend

Added local test runner script, changes to gitignore to not commit
  .gitignore
Due: none

test: add frontend/test-utils (zero-duration MUI theme) and update navbar tests to use it
  frontend/__tests__/components/navbar.test.tsx
  frontend/test-utils.tsx
Due: frontend

style: apply black and isort to backend (formatting fixes)
  backend/check_code.ps1
  backend/format_code.ps1
  backend/main.py
  backend/routes/menu_routes.py
  backend/routes/order_routes.py
  backend/routes/restaurant_routes.py
  backend/scripts/get_order.py
  backend/tests/test_order_sanitization.py
Due: backend

Linting: Fixed flake8 issues.
  backend/routes/order_routes.py
  backend/scripts/get_order.py
Due: backend

Linting: remove debug console logs and unused import in admin pages
  frontend/app/(main)/admin/orders/page.tsx
  frontend/app/(main)/admin/restaurants/page.tsx
Due: frontend

style(format): apply Black to backend scripts/get_order and routes/order_routes
  backend/routes/order_routes.py
  backend/scripts/get_order.py
Due: backend

style(format): run Prettier --write across frontend
  frontend/__mocks__/fileMock.js
  frontend/__mocks__/styleMock.js
  frontend/__tests__/admin-orders.actions.test.tsx
  frontend/__tests__/admin-orders.empty.test.tsx
  frontend/__tests__/admin-orders.test.tsx
  frontend/__tests__/components/navbar.test.tsx
  frontend/app/(main)/admin/orders/page.tsx
Due: frontend

Path conditions:
  frontend: any of: frontend/, but not: **/__pycache__, **/__tests__, **/__mocks__, **/node_modules, **/coverage, **/test-output, frontend/.next, frontend/public, backend/tests, *.config.js, *.config.ts
  backend: any of: backend/, but not: **/__pycache__, **/__tests__, **/__mocks__, **/node_modules, **/coverage, **/test-output, frontend/.next, frontend/public, backend/tests, *.config.js, *.config.ts
