Repository Jawamegamind/PeerCafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Fix artifact upload path syntax in frontend CI workflow
  .github/workflows/frontend-ci.yml
Due: none

Add individual frontend and backend coverage badges to README (temporary till we get a better coverage on the frontend)
  README.md
Due: none

Fix coverage badge links to navigate to specific flag pages
  README.md
Due: none

Pushing restaurants page test
  frontend/__tests__/actions/restaurants.test.ts
Due: frontend

Pushing helpers test cases for frontend
  .gitignore
  frontend/__tests__/utils/helpers.test.ts
Due: frontend

Added shopping cart for the restaurant orders
  backend/database/__pycache__/supabase_db.cpython-310.pyc
  frontend/app/(main)/user/checkout/page.tsx
  frontend/app/(main)/user/restaurants/[restaurantId]/page.tsx
  frontend/app/_components/CartDropdown.tsx
  frontend/app/_components/navbar.tsx
  frontend/app/_contexts/CartContext.tsx
  frontend/app/layout.tsx
Due: frontend, backend

Pushing fixed frontend test case suite to account for cart management
  frontend/__tests__/components/navbar.test.tsx
  frontend/__tests__/edge-cases/error-handling.test.tsx
  frontend/__tests__/integration/homepage.test.tsx
  frontend/__tests__/pages/login.test.tsx
  frontend/__tests__/pages/restaurant-detail.test.tsx
Due: frontend

Fixed bug in cart implementation where items from another restaurant weren't added when the cart was cleared
  frontend/app/(main)/user/checkout/page.tsx
  frontend/app/(main)/user/restaurants/[restaurantId]/page.tsx
  frontend/app/_components/CartDropdown.tsx
  frontend/app/_contexts/CartContext.tsx
Due: frontend

Updating navigation to profile pages for admin and users based on IsAdmin boolean
  frontend/__tests__/components/navbar.test.tsx
  frontend/app/_components/navbar.tsx
  frontend/app/profile/page.tsx
  frontend/utils/supabase/middleware.ts
Due: frontend

Updated navbar test to redirect to the admin profile page instead of the dashboard
  frontend/__tests__/components/navbar.test.tsx
Due: frontend

Adding backend test cases for the menu routes
  backend/.coveragerc
  backend/tests/conftest.py
  backend/tests/test_menu_routes.py
Due: backend

Adding frontend test cases for admin dashboard and the register page
  frontend/__tests__/pages/admin-dashboard.test.tsx
  frontend/__tests__/pages/register.test.tsx
Due: frontend

Added admin dashboard diagram & test plan
  docs/design/PeerCafe Wireframe 1.pdf
  docs/design/PeerCafe Wireframe 2.pdf
  docs/design/PeerCafe Wireframe 3.pdf
  docs/design/Staff Fulfillment Dashboard Inventory Management Diagram & Test Plan.pdf
Due: none

Added the Table Description Sheet
  docs/design/PeerCafe Table Description Sheet.pdf
Due: none

docs: move setup to INSTALL.md and add Quick Start links/badge
  README.md
Due: none

chore(gitignore): add standard Node/Next/Python/IDE/OS ignore rules at root
  .gitignore
Due: none

Update README to link to INSTALL.md
  README.md
Due: none

chore(clean): untrack generated artifacts (__pycache__, coverage) and rely on .gitignore
  backend/.coverage
  backend/.coveragerc
  backend/database/__pycache__/__init__.cpython-310.pyc
  backend/database/__pycache__/supabase_db.cpython-310.pyc
  backend/models/__pycache__/login_model.cpython-310.pyc
  backend/models/__pycache__/user_model.cpython-310.pyc
  backend/routes/__pycache__/auth_routes.cpython-310.pyc
Due: backend

Adjusted authentication workflow to use new table structure
  backend/models/login_model.py
  backend/models/user_model.py
  backend/routes/auth_routes.py
  backend/tests/conftest.py
  backend/tests/test_auth_routes.py
  backend/tests/test_models.py
  frontend/app/(authentication)/login/actions.ts
  frontend/app/(authentication)/register/actions.ts
Due: frontend, backend

Updated restaurant table name and fixed is_admin field name when logging in for redirection
  backend/routes/restaurant_routes.py
  frontend/app/(authentication)/login/actions.ts
Due: frontend, backend

Updated restaurant table schema and associated calls and test cases
  backend/models/restaurant_model.py
  backend/routes/restaurant_routes.py
  backend/tests/conftest.py
  backend/tests/test_models.py
  backend/tests/test_restaurant_routes.py
  frontend/app/(main)/admin/restaurants/add/page.tsx
  frontend/app/(main)/admin/restaurants/page.tsx
  frontend/app/(main)/user/restaurants/page.tsx
Due: frontend, backend

Update menu_items table and associated functionality and test cases
  backend/models/menu_item_model.py
  backend/routes/menu_routes.py
  backend/tests/conftest.py
  backend/tests/test_menu_routes.py
  frontend/app/(main)/admin/restaurants/[restaurantId]/page.tsx
  frontend/app/(main)/user/restaurants/[restaurantId]/page.tsx
Due: frontend, backend

Updated navbar with correct user schema reference
  frontend/app/_components/navbar.tsx
Due: frontend

Orders API routes and test cases
  backend/.coverage
  backend/main.py
  backend/models/order_model.py
  backend/routes/order_routes.py
  backend/tests/test_models.py
  backend/tests/test_order_routes.py
Due: backend

User order functionality pushed
  frontend/app/(main)/user/checkout/page.tsx
  frontend/app/(main)/user/orders/[orderId]/page.tsx
Due: frontend

Fixed frontend failing test cases to account for database schema changes
  frontend/__tests__/components/navbar.test.tsx
  frontend/__tests__/pages/restaurant-detail.test.tsx
Due: frontend

Changed the table doc to reflect changes
  backend/database/__pycache__/__init__.cpython-310.pyc
  backend/database/__pycache__/supabase_db.cpython-310.pyc
  backend/models/__pycache__/login_model.cpython-310.pyc
  backend/models/__pycache__/user_model.cpython-310.pyc
  backend/routes/__pycache__/auth_routes.cpython-310.pyc
  docs/design/PeerCafe Table Description Sheet.pdf
Due: backend

Added a new Table Documentation pdf
  docs/design/PeerCafe Table Description Sheet.pdf
Due: none

Added some optional documentation
  docs/order-api-documentation.md
  docs/order-database-schema.md
Due: none

Fix admin dashboard data display and add robust error handling
  backend/database/supabase_db.py
  backend/main.py
  backend/models/restaurant_model.py
  backend/routes/auth_routes.py
  backend/routes/menu_routes.py
  backend/routes/restaurant_routes.py
  frontend/__mocks__/fileMock.js
  frontend/__mocks__/styleMock.js
  frontend/app/(main)/admin/restaurants/[restaurantId]/page.tsx
  frontend/app/(main)/admin/restaurants/page.tsx
  frontend/app/(main)/user/checkout/page.tsx
  frontend/app/(main)/user/restaurants/[restaurantId]/page.tsx
  frontend/app/(main)/user/restaurants/page.tsx
  frontend/app/_components/CartDropdown.tsx
  frontend/utils/helpers.ts
Due: frontend, backend

Removed restaurant response transform; align user restaurant detail page to snake_case and fix duplicate keys; update tests to expect snake_case
  backend/routes/restaurant_routes.py
  backend/tests/test_database.py
  backend/tests/test_restaurant_routes.py
  frontend/app/(main)/admin/restaurants/[restaurantId]/page.tsx
  frontend/app/(main)/admin/restaurants/page.tsx
  frontend/app/(main)/user/restaurants/[restaurantId]/page.tsx
  frontend/app/(main)/user/restaurants/page.tsx
Due: frontend, backend

static frontend of delivery page
  backend/database/__pycache__/__init__.cpython-310.pyc
  backend/database/__pycache__/supabase_db.cpython-310.pyc
  backend/models/__pycache__/login_model.cpython-310.pyc
  backend/models/__pycache__/user_model.cpython-310.pyc
  backend/routes/__pycache__/auth_routes.cpython-310.pyc
  frontend/app/(authentication)/login/actions.ts
  frontend/app/(main)/user/dashboard/page.tsx
  frontend/app/(main)/user/delivery/page.tsx
  frontend/app/(main)/user/restaurants/actions.ts
Due: frontend, backend

Delete .coverage file
  backend/.coverage
Due: backend

Updating the frontend actions to use the next js supabase env variables
  .github/workflows/frontend-ci.yml
Due: none

Fixing indent for the frontend file
  .github/workflows/frontend-ci.yml
Due: none

fix: add missing field_validator import and get_supabase_client function after main merge
  backend/models/restaurant_model.py
  backend/routes/auth_routes.py
Due: backend

Add DOI badge to README
  README.md
Due: none

Add latitude and longitude to user profile
  frontend/app/(authentication)/login/actions.ts
Due: frontend

docs: update README, added Flow overview docs
  README.md
  docs/Flow.MD
Due: none

added test cases for delivery page
  frontend/__tests__/pages/delivery.page.test.tsx
Due: frontend

Path conditions:
  frontend: any of: frontend/, but not: **/__pycache__, **/__tests__, **/__mocks__, **/node_modules, **/coverage, **/test-output, frontend/.next, frontend/public, backend/tests, *.config.js, *.config.ts
  backend: any of: backend/, but not: **/__pycache__, **/__tests__, **/__mocks__, **/node_modules, **/coverage, **/test-output, frontend/.next, frontend/public, backend/tests, *.config.js, *.config.ts
