Repository Jawamegamind/PeerCafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Reduce the complexity of order_route funcitons for linting
  backend/routes/order_routes.py
Due: backend

Reduce the complexity of the delivery_routes functions for linting
  backend/routes/delivery_routes.py
Due: backend

Fixed frontend linting errors
  backend/tests/test_models.py
  backend/tests/test_order_routes.py
Due: none

Added admmin and some auth test case docs
  docs/test-documentation/admin-add-restaurant-test-doc.md
  docs/test-documentation/admin-dashboard-test-doc.md
  docs/test-documentation/admin-restaurants-test-doc.md
  docs/test-documentation/checkout-page-test-doc.md
  docs/test-documentation/login-page-test-doc.md
Due: none

Added test case docs for rest of tests in pages folder
  docs/test-documentation/frontend-pages-index-doc.md
  docs/test-documentation/order-page-more-test-doc.md
  docs/test-documentation/order-page-test-doc.md
  docs/test-documentation/order-page-unit-test-doc.md
  docs/test-documentation/profile-test-doc.md
  docs/test-documentation/register-test-doc.md
  docs/test-documentation/restaurant-detail-test-doc.md
  docs/test-documentation/user-dashboard-test-doc.md
  docs/test-documentation/user-restaurants-test-doc.md
Due: none

added test cases for actions
  docs/test-documentation/actions-test/login-actions-test-doc.md
  docs/test-documentation/actions-test/register-actions-test-doc.md
  docs/test-documentation/actions-test/restaurants-test-doc.md
  docs/test-documentation/pages-test/admin-add-restaurant-test-doc.md
  docs/test-documentation/pages-test/admin-dashboard-test-doc.md
  docs/test-documentation/pages-test/admin-restaurants-test-doc.md
  docs/test-documentation/pages-test/checkout-page-test-doc.md
  docs/test-documentation/pages-test/frontend-pages-index-doc.md
  docs/test-documentation/pages-test/login-page-test-doc.md
  docs/test-documentation/pages-test/order-page-more-test-doc.md
  docs/test-documentation/pages-test/order-page-test-doc.md
  docs/test-documentation/pages-test/order-page-unit-test-doc.md
  docs/test-documentation/pages-test/profile-test-doc.md
  docs/test-documentation/pages-test/register-test-doc.md
  docs/test-documentation/pages-test/restaurant-detail-test-doc.md
  docs/test-documentation/pages-test/user-dashboard-test-doc.md
  docs/test-documentation/pages-test/user-restaurants-test-doc.md
Due: none

Made testing docs more detailed and organized
  docs/test-documentation/admin/admin-restaurant-page-test-doc.md
  docs/test-documentation/admin/edit-restaurant-test-doc.md
  docs/test-documentation/components/CartDropdown-test-doc.md
  docs/test-documentation/components/navbar-test-doc.md
  docs/test-documentation/contexts/CartContext-test-doc.md
  docs/test-documentation/edge-cases/error-handling-test-doc.md
  docs/test-documentation/integration/homepage-test-doc.md
  docs/test-documentation/utils/helpers-test-doc.md
  docs/test-documentation/utils/supabase-client-test-doc.md
  docs/test-documentation/utils/supabase-middleware-test-doc.md
  docs/test-documentation/utils/supabase-server-test-doc.md
Due: none

Added the Testing Overview [docs/TESTING_OVERVIEW.md]
  docs/TESTING_OVERVIEW.md
Due: none

Add comprehensive testing overview document
  TESTING_OVERVIEW.md
Due: none

Fixed issues caused due to reducing function complexity
  frontend/.vscode/tasks.json
  frontend/__tests__/pages/admin-restaurants.test.tsx
  frontend/__tests__/pages/delivery.page.test.tsx
  frontend/__tests__/pages/orders.page.test.tsx
  frontend/app/(authentication)/login/actions.ts
  frontend/app/(main)/user/dashboard/page.tsx
  frontend/app/(main)/user/delivery/NavigationMap.tsx
  frontend/app/(main)/user/delivery/navigation/page.tsx
  frontend/app/(main)/user/delivery/page.tsx
  frontend/app/(main)/user/orders/[orderId]/page.tsx
  frontend/app/(main)/user/orders/page.tsx
  frontend/app/(main)/user/restaurants/actions.ts
Due: frontend

Fixed minor errors
  backend/.coverage
  backend/format_code.sh
  backend/routes/order_routes.py
  frontend/__tests__/pages/admin-restaurants.test.tsx
  frontend/__tests__/pages/delivery.page.test.tsx
  frontend/app/(main)/user/dashboard/page.tsx
Due: frontend, backend

Make all pages route via /api
  backend/main.py
  backend/routes/order_routes.py
  frontend/app/(main)/admin/orders/page.tsx
  frontend/app/(main)/user/dashboard/page.tsx
  frontend/app/(main)/user/delivery/NavigationMap.tsx
  frontend/app/(main)/user/delivery/navigation/page.tsx
  frontend/app/(main)/user/delivery/page.tsx
  frontend/app/(main)/user/orders/page.tsx
  frontend/utils/api.ts
Due: frontend, backend

Add cancel order event listener
  backend/routes/delivery_routes.py
  frontend/app/(main)/user/orders/[orderId]/page.tsx
  frontend/app/(main)/user/orders/page.tsx
Due: frontend, backend

Fixed Linting and Prettier Issues due to code changes
  frontend/__tests__/pages/user-dashboard.test.tsx
  frontend/app/(main)/user/dashboard/page.tsx
  frontend/app/(main)/user/delivery/page.tsx
  frontend/app/(main)/user/orders/[orderId]/page.tsx
  frontend/app/(main)/user/orders/page.tsx
Due: frontend

Added North Carolina state option to the checkout page
  frontend/app/(main)/user/checkout/page.tsx
Due: frontend

Added user specific dashboard redirection when click on home
  frontend/__tests__/components/navbar.test.tsx
  frontend/app/_components/navbar.tsx
Due: frontend

added distance metrics and modified ready orders api
  backend/database/__pycache__/__init__.cpython-310.pyc
  backend/database/__pycache__/supabase_db.cpython-310.pyc
  backend/models/__pycache__/login_model.cpython-310.pyc
  backend/models/__pycache__/user_model.cpython-310.pyc
  backend/routes/__pycache__/auth_routes.cpython-310.pyc
  backend/routes/delivery_routes.py
  backend/routes/order_routes.py
  backend/tests/test_delivery_routes.py
  backend/tests/test_delivery_routes_helpers.py
  frontend/__tests__/pages/delivery.page.test.tsx
  frontend/app/(main)/user/delivery/page.tsx
Due: frontend, backend

modified formatting and flake8 errors
  backend/routes/order_routes.py
  backend/tests/test_delivery_routes.py
  backend/tests/test_delivery_routes_helpers.py
  frontend/__tests__/pages/delivery.page.test.tsx
  frontend/app/(main)/user/delivery/page.tsx
Due: frontend, backend

Add tests for delivery routes & modified existing order route tests.
  backend/tests/test_delivery_routes_get_restaurant_coordinates.py
  backend/tests/test_order_routes.py
Due: none

Add test cases for delivery_route for delivery & navigation logic
  backend/tests/test_delivery_navigation_route.py
  backend/tests/test_delivery_routes_helpers.py
Due: none

fix: Add pytest-asyncio to backend dependencies
  backend/requirements.yaml
Due: backend

tests(backend): add comprehensive order routes tests; ci: ignore flake8 C901 in test_order_routes to satisfy quality checks
  backend/.flake8
  backend/tests/test_order_routes.py
Due: backend

Add tests for order_routes
  backend/tests/test_order_routes.py
Due: none

Added null checks
  frontend/app/(main)/user/delivery/page.tsx
Due: frontend

Added unit test cases for frontend
  backend/database/__pycache__/__init__.cpython-310.pyc
  backend/database/__pycache__/supabase_db.cpython-310.pyc
  backend/models/__pycache__/login_model.cpython-310.pyc
  backend/models/__pycache__/user_model.cpython-310.pyc
  backend/routes/__pycache__/auth_routes.cpython-310.pyc
  frontend/__tests__/delivery/NavigationMap.test.tsx
  frontend/__tests__/delivery/delivery-page.test.tsx
  frontend/__tests__/delivery/error-handling.test.tsx
Due: frontend, backend

Remove extra bracket in the NavigationMap.test.tsx file
  frontend/__tests__/delivery/NavigationMap.test.tsx
Due: frontend

Fix the frontend code quality issues
  frontend/__tests__/delivery/NavigationMap.test.tsx
Due: frontend

Add test cases for user/delivery/navigation/page.tsx
  frontend/__tests__/delivery/NavigationMap.test.tsx
Due: frontend

Update INSTALL.md with Mapbox and backend API details
  INSTALL.md
Due: none

Added project roadmap in the readme
  README.md
  docs/rubrics.md
Due: none

Adding the dependencies table to the readme
  README.md
  docs/rubrics.md
Due: none

Remove pre-commit from dependencies list
  README.md
Due: none

Added system test doc
  docs/system-test-doc.md
Due: none

Fix formatting of system test documentation header
  docs/system-test-doc.md
Due: none

Filled in the repository rubric
  docs/rubrics.md
Due: none

updates testing_overview.md
  TESTING_OVERVIEW.md
Due: none

updated TESTING_OVERVIEW.md
  TESTING_OVERVIEW.md
Due: none

fix: fetch distance correctly when only two destinations are provided
  backend/routes/delivery_routes.py
Due: backend

Revert "fix: fetch distance correctly when only two destinations are provided"
  backend/routes/delivery_routes.py
Due: backend

Added the demo video link the Github readme
  README.md
Due: none

Path conditions:
  frontend: any of: frontend/, but not: **/__pycache__, **/__tests__, **/__mocks__, **/node_modules, **/coverage, **/test-output, frontend/.next, frontend/public, backend/tests, *.config.js, *.config.ts
  backend: any of: backend/, but not: **/__pycache__, **/__tests__, **/__mocks__, **/node_modules, **/coverage, **/test-output, frontend/.next, frontend/public, backend/tests, *.config.js, *.config.ts
