Repository Jawamegamind/PeerCafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Fixed style issues in get_order.py
  backend/scripts/get_order.py
Due: backend

chore(lint): add helpers and suppress C901 for sanitizer
  backend/pyproject.toml
  backend/routes/order_routes.py
Due: backend

test: add unit tests for order_routes helper functions
  backend/tests/test_order_helpers.py
Due: none

tests(order_routes): add unit and endpoint tests for order helpers and endpoints
  backend/tests/test_order_routes_endpoints.py
  backend/tests/test_order_routes_helpers.py
Due: none

chore(ci): fix code-quality issues (formatting, import order, flake8 ignores)
  backend/.flake8
  backend/routes/order_routes.py
  backend/tests/test_order_helpers.py
  backend/tests/test_order_routes_endpoints.py
  backend/tests/test_order_routes_helpers.py
Due: backend

refactor(order_routes): split sanitize logic into smaller helpers and add tests; remove C901 ignore
  backend/.flake8
  backend/routes/order_routes.py
  backend/tests/test_order_routes_helpers.py
Due: backend

test(order_routes): run async routes via asyncio.run in tests to avoid pytest-asyncio dependency
  backend/tests/test_order_routes_endpoints.py
Due: none

test(order_routes): fix import ordering to satisfy isort/format
  backend/tests/test_order_routes_endpoints.py
Due: none

Update backend/routes/order_routes.py
  backend/routes/order_routes.py
Due: backend

style(order_routes): reformat _compute_and_update_total signature
  backend/routes/order_routes.py
Due: backend

chore(scripts): run backend code-quality checks from run_all_tests and append to report
  scripts/run_all_tests.ps1
Due: none

chore(scripts): rename Run-Section -> Invoke-Section to use approved PowerShell verb
  scripts/run_all_tests.ps1
Due: none

chore(scripts): remove unused variable in frontend Start-Process
  scripts/run_all_tests.ps1
Due: none

chore(scripts): filter warnings from combined test report
  scripts/run_all_tests.ps1
Due: none

chore(scripts): capture only stdout from backend code-quality run and filter wrappers
  scripts/run_all_tests.ps1
Due: none

fix(order_routes): narrow exception handling when computing subtotal; log skipped malformed items; add tests
  .gitignore
  backend/routes/order_routes.py
  backend/tests/test_order_routes_helpers.py
Due: backend

some testing and markdown adds
  docs/design/PeerCafe Table Description Sheet.pdf
  docs/restaurant-details-test-documentation.md
  docs/restaurant-page-test-documentation.md
  frontend/__tests__/pages/restaurant-id-page.test.tsx
Due: frontend

made checkout and order tests and docs
  docs/checkout-test-documentation.md
  docs/order-id-page-test-doc.md
  frontend/__tests__/pages/checkout.test.tsx
  frontend/__tests__/pages/order_id.test.tsx
Due: frontend

Added checkout page to protected routes
  frontend/utils/supabase/middleware.ts
Due: frontend

RBAC implemented using middleware
  frontend/app/(main)/admin/dashboard/page.tsx
  frontend/app/(main)/user/dashboard/page.tsx
  frontend/utils/supabase/middleware.ts
Due: frontend

Added suspense boundary for failing test cases
  frontend/app/(main)/admin/dashboard/page.tsx
  frontend/app/(main)/user/dashboard/page.tsx
Due: frontend

Updating dashboard to be prettier complaint
  frontend/app/(main)/admin/dashboard/page.tsx
  frontend/app/(main)/user/dashboard/page.tsx
Due: frontend

Fixing bug prevent restaurant browse from not working on user and admin ends
  frontend/app/(main)/admin/restaurants/page.tsx
  frontend/app/(main)/user/restaurants/page.tsx
  frontend/utils/helpers.ts
Due: frontend

Updating middleware to cater for dynamic routes as well
  frontend/utils/supabase/middleware.ts
Due: frontend

static frontend of delivery page
  backend/database/__pycache__/__init__.cpython-310.pyc
  backend/database/__pycache__/supabase_db.cpython-310.pyc
  backend/models/__pycache__/login_model.cpython-310.pyc
  backend/models/__pycache__/user_model.cpython-310.pyc
  backend/routes/__pycache__/auth_routes.cpython-310.pyc
  frontend/app/(authentication)/login/actions.ts
  frontend/app/(main)/user/dashboard/page.tsx
  frontend/app/(main)/user/delivery/page.tsx
  frontend/app/(main)/user/restaurants/actions.ts
Due: frontend, backend

Revert "static frontend of delivery page"
  backend/database/__pycache__/__init__.cpython-310.pyc
  backend/database/__pycache__/supabase_db.cpython-310.pyc
  backend/models/__pycache__/login_model.cpython-310.pyc
  backend/models/__pycache__/user_model.cpython-310.pyc
  backend/routes/__pycache__/auth_routes.cpython-310.pyc
  frontend/app/(authentication)/login/actions.ts
  frontend/app/(main)/user/dashboard/page.tsx
  frontend/app/(main)/user/delivery/page.tsx
  frontend/app/(main)/user/restaurants/actions.ts
Due: frontend, backend

rebasing main branch
  backend/database/__pycache__/__init__.cpython-310.pyc
  backend/database/__pycache__/supabase_db.cpython-310.pyc
  backend/models/__pycache__/login_model.cpython-310.pyc
  backend/models/__pycache__/user_model.cpython-310.pyc
  backend/routes/__pycache__/auth_routes.cpython-310.pyc
  frontend/app/(main)/user/dashboard/page.tsx
  frontend/app/(main)/user/delivery/page.tsx
Due: frontend, backend

added test cases for delivery page
  backend/models/__pycache__/login_model.cpython-310.pyc
  backend/models/__pycache__/user_model.cpython-310.pyc
  backend/routes/__pycache__/auth_routes.cpython-310.pyc
Due: backend

added test cases for delivery page
  frontend/__tests__/pages/delivery.page.test.tsx
Due: frontend

added map to delivery page
  frontend/__tests__/pages/delivery.page.test.tsx
  frontend/app/(main)/user/delivery/page.tsx
  frontend/app/globals.css
  frontend/package-lock.json
  frontend/package.json
Due: frontend

made api to fetch ready orders
  backend/main.py
  backend/models/delivery_model.py
  backend/routes/delivery_routes.py
  frontend/app/(main)/user/delivery/page.tsx
Due: frontend, backend

added test cases for delivery_routes and delivery_model
  backend/routes/delivery_routes.py
  backend/tests/test_delivery_routes.py
  backend/tests/test_models.py
Due: backend

modified delivery page test cases and added active order card
  frontend/__tests__/pages/delivery.page.test.tsx
  frontend/app/(main)/user/delivery/page.tsx
Due: frontend

integrated backend api to fetch nearby orders to frontend
  backend/routes/delivery_routes.py
  backend/tests/test_delivery_routes.py
  frontend/app/(main)/user/delivery/actions.ts
  frontend/app/(main)/user/delivery/page.tsx
Due: frontend, backend

Pushing update to hydration tree to fix annoying Grammarly error
  frontend/app/layout.tsx
Due: frontend

Fixed hydration errors associated with the dropdown
  frontend/app/_components/CartDropdown.tsx
  frontend/app/layout.tsx
Due: frontend

Accept delivery order and assign them to user
  backend/routes/delivery_routes.py
  backend/routes/order_routes.py
  frontend/app/(main)/user/delivery/page.tsx
Due: frontend, backend

Adding some test cases for the user dashboard
  frontend/__tests__/pages/checkout-actual.test.tsx
  frontend/__tests__/pages/user-dashboard.test.tsx
  frontend/__tests__/pages/user-restaurants.test.tsx
Due: frontend

Fixing code style for test cases
  frontend/__tests__/pages/checkout-actual.test.tsx
  frontend/__tests__/pages/user-dashboard.test.tsx
  frontend/__tests__/pages/user-restaurants.test.tsx
Due: frontend

Path conditions:
  frontend: any of: frontend/, but not: **/__pycache__, **/__tests__, **/__mocks__, **/node_modules, **/coverage, **/test-output, frontend/.next, frontend/public, backend/tests, *.config.js, *.config.ts
  backend: any of: backend/, but not: **/__pycache__, **/__tests__, **/__mocks__, **/node_modules, **/coverage, **/test-output, frontend/.next, frontend/public, backend/tests, *.config.js, *.config.ts
